body {
    background-image: url(../Pics/HomeBG.jpg);
    display: flex;
    justify-content: center;
}
.menu {
    background-color: rgb(94, 94, 94);
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 100%;
    border-radius: 3px;
}
nav div:hover {
    background-color: rgb(76, 76, 76);
}

nav {
    display: flex;
    flex-flow: row;
    padding: 15px;
    gap: 10px;
    border-radius: 5px;
    background-color: rgb(141, 141, 141);
}

a {
    font-size: 18px;
    color: seashell;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    border-radius: 5px;
}

main h1 {
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
}

p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    text-align: justify;
    font-weight: lighter;
    font-size: 24px;
}

.home {
    width: 70%;
    background-color: #dddddd;
    border-radius: 5px;
    margin-top: 60px;
}